.preview__title{
    font-family: PT Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 83px;
    letter-spacing: 0em;
    text-align: left;

    margin: 93.5px 692px 16 0;
    width: 508px;
    height: 166px;

}